@import "../../Ui.module.scss";

.banner__section {
  width: 100vw;
  height: 100vh;
  padding: 0vw 10vw 0vw 10vw;
  background-image: url("../../assets/portfolio_bg.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .profile__img {
    z-index: 3;
    width: 30vw;
    border: 20px solid $color-javascript;
    border-radius: 50%;
    box-shadow: inset 0px 0px 30px $color-javascript, 0px 0px 20px $color-javascript;
  }

  .down__arrow {
    width: 4vw;
    position: absolute;
    bottom: 100px;
    z-index: 99;
  }

  .title__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1,
    h2,
    h3 {
      color: white;
      font-family: $font-raleway;
      font-weight: 700;
      font-size: 4vw;
      line-height: 4vw;
      letter-spacing: -0.2rem;
    }

    h3 {
      font-size: 2vw;
    }

    .js__span {
      color: $color-javascript;
      text-shadow: 0px 0px 15px $color-javascript, 0px 0px 2px $color-javascript;
      transition: ease 0.5s;
    }
  }
}
